<!DOCTYPE html>
<html>
  <head>
    <title><%=strings.appTitle%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
  </head>
  <body>
    <div id="topbar">
    </div>
    <div id="content">      
        <h3><%=strings.welcome%>, <%=user.displayName%></h3>
        <h4><%= strings.enableTotp %></h4>
            <form action="/totp-setup" method="post">
                <h4><%= strings.buttonPressQR %></h4>
                <input type="checkbox" name="totp" onchange="this.form.submit()">
            </form>  
            
            <h4><%=strings.qrSetupSteps%></h4>
            <img src="<%= qrUrl %>" alt="<%= user.key %>">        
            <h4><%=strings.codeSetupSteps%></h4>
            <%=user.key%>
    </div>
    <div id= "redirects">
        <a href="/">Click here when you're ready to go to the main page</a>.</p>
  </body>
</html>
